<mat-card class="card" *ngIf="product">
  <div class="image-container" *ngIf="product.image">
    <img class="image" [src]="product.image" alt="product" />
  </div>
  <div class="name-container">
    <span class="name">{{ product.name }}</span>
  </div>
  <div class="tags-container">
    <span *ngFor="let tag of product.tags">{{ tag }}, </span>
  </div>
  <div class="flex ratings" *ngIf="product.ratings">
    <div class="ratings-container">
      {{ product.ratings.rating }}
      <img
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
        alt="star"
      />
    </div>
    <span class="num-ratings"> ({{ product.ratings.count }})</span>
  </div>
  <div class="price-container">
    <span class="curr-price"> ₹{{ product.price.currentPrice }} </span>
    <s class="old-price"> ₹{{ product.price.oldPrice }} </s>
    <span class="discount"> {{ product.price.discount }}% off </span>
  </div>
  <button (click)="addToCart()" class="add-to-cart">
    <svg
      class="_1KOMV2"
      width="16"
      height="16"
      viewBox="0 0 16 15"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class=""
        d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86"
        fill="#878787"
      ></path>
    </svg>
    Add to Cart
  </button>
</mat-card>
