<mat-toolbar class="navbar" color="primary">
  <!-- <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button> -->

  <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
    <h1>{{ title }}</h1>
  </a>

  <span class="navbar-spacer"></span>
  <button mat-icon-button *ngIf="_auth.user | async" [routerLink]="['/cart']">
    <mat-icon matBadge="2" matBadgeColor="accent">shopping_cart</mat-icon>
  </button>
  <!-- <mat-menu
    #notificationMenu="matMenu"
    xPosition="before"
    yPosition="above"
    [overlapTrigger]="false"
  >
    <a mat-menu-item>
      <span>You have new tasks</span>
    </a>
    <a mat-menu-item>
      <span>You have a new message</span>
    </a>
  </mat-menu> -->
  <ng-container *ngIf="!(_auth.user | async)">
    <a class="auth-links navbar-brand" [routerLink]="['/auth', 'login']"
      ><h3>Login</h3></a
    >
    <a class="auth-links navbar-brand" [routerLink]="['/auth', 'register']"
      ><h3>SignUp</h3></a
    >
  </ng-container>
  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="_auth.user | async">
    <mat-icon>person</mat-icon>
    <span fxShow fxHide.xs>
      {{ (_auth.user | async)?.name }}
    </span>
  </button>
  <mat-menu
    #userMenu="matMenu"
    xPosition="before"
    yPosition="above"
    [overlapTrigger]="false"
  >
    <a mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </a>

    <a mat-menu-item (click)="_auth.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </a>
  </mat-menu>
</mat-toolbar>
