<p>
  <mat-toolbar color="primary">
    <!-- <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button> -->

    <span>{{ title }}</span>

    <span class="example-spacer"></span>
    <!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button> -->
    <div style="font-size: medium">
      <ng-container *ngIf="_auth.user | async">
        <a>Welcome, {{ (_auth.user | async)?.name }}</a>
        &nbsp;
        <span (click)="_auth.logout()">Logout</span>
      </ng-container>
    </div>
  </mat-toolbar>
</p>
